.head{
    background-color: yellow;
    height:75px;
    position: fixed;
    top: 0px;
    right: 0px;
    left: 0px;
    display: flex;
    align-items: center;
}
.snaplogo{
    height: 33px;
    background-color: transparent;
    margin-right: 10px;
}
.dotlogo{
    height: 40px;
    width: 40px;
    border-radius: 50px ;
    margin-left: 70px;
    margin-right: 15px;
    background-color: transparent;
}
.space{
    display: flex;
    flex: 1;
}
.dot{
    height: 15px;
    padding-top: 2px;
}
.text{
    font-size: 15px;
    font-family:"roboto";
    font-weight: 500;
    font-stretch: expanded;
    font-variant: inherit;
    color: black;
    margin-right: 40px;
    text-decoration: none;
}
.text1{
    font-size: 16px;
    font-family: "roboto";
    font-weight: 600;
    color: black;
    margin: 0px;
    margin-right: 30px;
    text-decoration: none;
}
.text2{
    font-size: 18px;
    font-family: "roboto";
    font-weight: 600;
    color:white;
    margin-right: 20px;
    margin-bottom: 50px;
    text-decoration: none;
}
.button1{
    height: 47px;
    width: auto;
    border-radius: 50px;
    border:0px;
    background-color: white;
    margin-right: 20px;
    margin-top: 5px;
    align-items: center;
}
.button1:hover{
    margin-bottom: 6px;
    box-shadow: rgb(116, 115, 115) 1.7px 1.9px 8px ;
        transition: box-shadow 0.30s;
    transition: margin-bottom 0.30s;
}
.button2{
    height: 47px;
    width: auto;
    border-radius: 50px;
    border:0px;
    background-color:black;
    margin-right: 60px;
    margin-top: 5px;
    align-items: center;
    padding-bottom: 5px;
    padding-top: 5px;
}
.button2:hover{
    margin-bottom: 6px;
    box-shadow: rgb(116, 115, 115) 1.7px 1.9px 8px ;
    transition: box-shadow 0.30s;
    transition: margin-bottom 0.30s;
}
.box{
    background-color: transparent;
    border: 0px;
    font-size: 16.3px;
    font-family:"roboto";
    font-weight: 500;
    font-stretch: expanded;
    font-variant: inherit;
    color: black;
    width: 90px;
}
.phone-img{
margin-right: 6px;
margin-left: 20px;
margin-bottom: -9px;
height: 30px;
}
.last{
    margin-left: 40px;
    display: flex;
    align-items: center;
    height: 75px;
}
.lap-img{
height: 23px;
margin-top: 4px;
margin-left :20px ;
margin-right: 10px;
}

